<ion-view title="Tabs Controller" id="page9">
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Browse" icon="ion-android-apps" href="#/tab/explore">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Calendar" icon="ion-calendar" href="#/tab/calendar">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="List" icon="ion-ios-list" href="#/tab/list">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>